<h1>RESTAURANTS</h1>

<% @restaurant.each do |r| %>
  <%= r.name %>
  <%= link_to 'Show', restaurant_path(r) %>
  <% if user_signed_in? %>
	  <%= link_to 'Edit', edit_restaurant_path(r) %>
	  <%= link_to 'Delete', restaurant_path(r), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br>
<% end %>

<br><br>

<%= link_to 'New', new_restaurant_path %>